

<h1>Show</h1>

<p>user:<%= @blog.user.name %></p>
<p>title:<%= @blog.title %></p>
<p>content:<%= @blog.content %></p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
